<template>
    <div>
        <p>Component C</p>
        <hr>
        <p>{{ username }}</p>
    </div>
</template>

<script>
    export default {
        name:'ComponentC',
        inject:['username']
    }

</script>
