<template>
    <div>
        <p>Component B</p>
        <p>{{ username }}</p>
        <p>{{ password }}</p>
        <component-c />
    </div>
</template>

<script>
import ComponentC from './CompomentC.vue';
    export default {
        name:'ComponentB',
        inject: ['username','password'],    
            components: {
                ComponentC,
            },
    }
</script>

<style lang="scss" scoped>

</style>