<template>
    <div>
        <p>Component A</p>
        <component-B/>
    </div>
</template>

<script>
import ComponentB from './ComponentB.vue';
    export default {
        name:'ComponentA',
        components: {
            ComponentB,
        },
    }
</script>

<style lang="scss" scoped>

</style>