<template>
    <div>
        <p>Main menu Component</p>
        <p><input type="text" v-model="name"></p>
        <button @click="$emit('closemenu',name)">Close menu</button>
    </div>
</template>

<script>
    export default {
        name:'MainMenu',
        // emits:['closemenu'],
        emits:{
            closeMenu(name){
        if (!name){
            return false
        }else{
            return true
            }
          }
        },
        data(){
            return{
                name: ''
            }
        }
    }
</script>
