<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>Root App Component</h1>
  <p>name{{ name }}</p>
  <textinput v-model=" name"/>
</template>

<script>
import Textinput from './components/Textinput.vue';
// import ComponentA from './components/ComponentA.vue';
// import MainMenu from './components/MainMenu.vue';
import textInput from './components/Textinput.vue';
export default {
  components: { Textinput },
  name: 'App',
  component: {
    textInput,
  },
 data(){
  return {
    name: '',
  }
 }
  // data:()=> {
  //   return {
  //     name:'',
  //     isMenuOpen:false,
  //     username:'mark',
  //     password:'12345678'
  //   }
  // },
  // methods: {
  //   closeMenu(data){
  //     this.isMenuOpen = false,
  //     this.name = data
  //  }
  // },
  // provide(){
  //   return{
  //     username:this.username,
  //     password:this.password
  //   }
  // }
}
</script>

<style>
</style>
